.main-elements {
  height: auto;
}

.egi-hub-logo-main {
  width: 100%;
}

.contentbox {
  padding-top: 5rem;

  .left-column {
    display: inline;

    img {
      max-width: 96%;
      height: auto;
    }
  }
  .right-column {
    display: inline;

    img {
      width: 96%;
      height: auto;
      float: right;
    }
  }

  .first {
    padding-right: 20px;
    max-width: 50%;
  }

  .last {
    padding-left: 20px;

    ul {
      li {
        margin-bottom: 35px;
        line-height: 1.25;

        svg {
          display: inline;
          float:left;
          margin-right: 16px;
          font-size: 55px;
          color: $color-primary;
          margin-top: 3px;
        }
        .list-title {
          font-size: 25px;
          font-weight: bold;
          color: $color-primary;
        }
      }
    }
  }

  .contentbox__title {
    font-size: 2.15rem;
    margin-bottom: 25px;
  }
}

.carousel-indicators {
  left: auto;
  right: 0;
}

.service-info-box {
  text-align: center;
  padding: 15px 0;

  img {
    float: none;
    margin: auto;
  }
}

.footer {
  border-top: 10px solid $color-primary;

  .copy-text {
    color: $color-white;
  }

  .title {
    color: $color-white;
  }
}
