%a.home-anchor{ "href": "#find-eosc", data: { "controller" => "home-page",
                                              "target" => "scrollArrow",
                                              "action" => "scroll@window->home-page#onScroll" } }
  = image_tag("main-link.png")


.contentbox
  .left-column
    = image_tag "main-info-01.jpg"
  .right-column
    = image_tag "main-info-02.jpg"

.contentbox
  .first
    %p.contentbox__title
      About the Marketplace

    %p.contantbox__lead
      We believe that having access to top scientific computing resources is essential to help researchers to be
      competitive. The Marketplace is the entry point for researchers to discover and access the advanced computing
      services and tools they need for their work.
    %p
      The services available in the Marketplace cover the areas of Compute, Storage and Data. The Marketplace also
      provides Applications on demand and Training modules. All services are provided by the EGI Federation and
      partner institutions.
    %p
      The EGI Federation brings together almost 300 data and compute centres and 21 cloud providers worldwide,
      united with a mission of supporting science and innovation.

  .last
    %ul
      %li
        %i.fas.fa-check-circle
        .list-title Easy to find
        %p advanced filtering and lots of information on capability and service levels
      %li
        %i.fas.fa-check-circle
        .list-title Easy to access
        %p log in with your own credentials
      %li
        %i.fas.fa-check-circle
        .list-title Customizable
        %p views can be pre-defined for labs, communities and organisations
      %li
        %i.fas.fa-check-circle
        .list-title Simple
        %p purchase resources and services or access them free of charge
